.picture{
    padding: 80px;
    text-align: center;
    background: rgb(73, 71, 71);
    color: white
}
.picture h1 {
    font-size: 50px;
}


* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    border: 2px solid black;
    font-size: larger;
}

.main {
    flex: 70%;
    background-color: #f1f1f1;
    padding: 20px;
    border: 2px solid black;
    font-size: larger;
}

@media (max-width: 800px) {
    .side, .main {
        flex: 100%;
    }
}

/* .profile{
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 auto;
    width: 1050px;
    float: right;
    font-size: 1.25em;
  
}*/